<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    Expense Management System - {% block title %}{% endblock %}
</title>


<!-- FA Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link type="text/css" href="{% static 'vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'vendor/notyf/notyf.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{%static 'node_modules\bootstrap\dist\css\bootstrap.min.css' %}">
<link type="text/css" href="{% static 'css/Predict.css' %}" rel="stylesheet">

<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand me-2" href="{%url 'home' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/7659/7659591.png" height="40" loading="lazy" style="margin-top: -1px;"/>
                EXPENSE TRACKER
            </a>
        </div>
    </nav><br>
    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
</body>

</html>
